<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ballot Marking System Maintenance</title>
    <link rel="stylesheet" href="/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/1290b2bcc8.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>
        User Profile
    </h1>

    <div class="top-info">
        {{#if successMsg}}
        <p style="color:green;">{{successMsg}}</p>
        <p><a href="/logout">Logout</a></p>
        {{else}}
        <form class="container" id="user-profile-edit" action='/user/change-password' method="POST">
            <p>Username: <span class="username">{{user.user_name}}</span></p>
            {{#if issueMsg}}
            <p style="color:crimson;">{{issueMsg}}</p>
            {{/if}}
            <!-- ***** INLINE ***** -->
            <!-- <div class="form-group row justify-content-center mb-4">
                <div class="col-2 text-right">
                    <label for="current-pw" class="col-form-label">Current Password</label>
                </div>
                <div class="col-3">
                    <input id="current-pw" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-2 text-right">
                    <label for="new-pw" class="col-form-label">New Password</label>
                </div>
                <div class="col-3">
                    <input id="new-pw" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group row justify-content-center align-items-center">
                <div class="col-2 text-right">
                    <label for="confirm-pw" class="col-form-label">Confirm New Password</label>
                </div>
                <div class="col-3">
                    <input id="confirm-pw" class="form-control" type="password">
                </div>
            </div> -->
            <!-- ***** LEFT-ALIGNED BLOCK ***** -->
            <div class="row justify-content-center text-left">
                <div class="form-group col-10 col-sm-6 col-lg-3">
                    <label for="current_pw" class="mb-0">Current Password</label>
                    <input name="current_pw" class="form-control" type="password" required>
                </div>
            </div>
            <div class="row justify-content-center text-left">
                <div class="form-group col-10 col-sm-6 col-lg-3">
                    <label for="new_pw" class="mb-0">New Password</label>
                    <input name="new_pw" class="form-control" type="password" required>
                </div>
            </div>
            <div class="row justify-content-center text-left">
                <div class="form-group col-10 col-sm-6 col-lg-3">
                    <label for="confirm_pw" class="mb-0">Confirm New Password</label>
                    <input name="confirm_pw" class="form-control" type="password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark mb-2">Save</button>
        </form>
        {{/if}}
    </div>

    <!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="/" class="dashboard-break">Dashboard</a></li>
            <li><a href="/town-report">Town Reports</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/follow-up">Shipping Follow Up</a></li>
            <li><a href="/user" class="user-profile-nav">User Profile</a></li>
        </ul>
    </nav>
</body>
